.container {
  width: 800px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.84);
  font-size: 21px;
  line-height: 32px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.container h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  color: rgba(41, 41, 41, 1);
}

.container .post_meta {
  margin-bottom: 24px;
}

.image {
  display: flex;
  align-self: center;
  margin: 10px auto;
  width: 700px;
  border: 1px ridge;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.096);
}

.container .code-inline {
  display:inline;
  border:solid 1px #dedede;
  padding:0.1em 0.3em;
}

.container .summary_box {
  border: 1px solid #1ff;
  background: #dff;
  margin: 1em;
  padding: 2em;
}

.container .summary_box li {
  margin: 0.5em 0;
}

.container .spoiler {
  color: black;
  background-color:black;
}

.container .spoiler:hover {
  background-color:white;
}

nav {
  margin: 10px 0;
}

footer {
  margin-bottom: 40px;
}
