body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 19px;
}

header nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

header nav a:hover {
  color: rgba(0, 0, 0, 1);
}

.container {
  width: 800px;
  margin: 20px;
  font-size: 21px;
  line-height: 32px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container ul li {
  margin: 25px 0;
}

.container ul li a {
  text-decoration: none;
  color: rgba(41, 41, 41, 1);
}

.container ul li a:hover {
  color: #2e57c2;
}

.container .post_meta {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.container ul.contact_list {
  margin: 0;
}

.container ul.contact_list li {
  margin: 0;
}

footer nav {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 19px;
}

footer nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

footer nav a:hover {
  color: rgba(0, 0, 0, 1);
}
